* {
  margin: 0;
}

.app__header {
  object-fit: contain;
  display: flex;
  z-index: 1;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
  justify-content: space-between;
  position: sticky;
  top: 0;

}

.app {
  /* background-color: azure; */
}

.app_headerImage {
  object-fit: content;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.unauth {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

/* posts */



/* upload */

.imagesupload {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;


}

.progress {
  width: 100%;
}

input[type=file] {
  font-size: medium;
  display: inline-block;
  cursor: pointer;
}